.news-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 40px; /* Optional spacing between items  */
}

.RelatedNews {
  height: max-content;
}

.Dropdown-control {
  background-color: black !important;
  color: white !important;
}
.dropdown-container {
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.Sort-text {
  font: bold;
  margin-right: 25px;
}
