.imageGrid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-top: 50px;
}

.imageGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageGrid-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
