/* .ResultPage .main-section,
.DataPage .main-section,
.NewsPage .main-section {
  margin-top: 60px;
  width: 100%;
  height: max-content;
  min-height: 100vh;
} */

.main-section {
  margin-top: 60px;
  width: 100%;
  height: max-content;
  min-height: 100vh;
}

.ResultPage,
.DataPage,
.NewsPage {
  background-color: #242424;
}

.topic-vis-container {
  width: 100%;
}

.wordcloud-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.wordcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wordcloud-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

.news_container {
  height: 300px;
  position: relative;
  margin-top: 50px;
}

.footer-resultpage .footer_container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #111;
  padding-top: 50px;
  padding-bottom: 50px;
}

.similar_news-heading {
  color: #de2600;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
