.footer-landingpage .footer_container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-bottom: 15px;
  padding: 0;
  position: absolute;
  z-index: 2;
  color: #888;
  line-height: 20px;
  padding: 20px 0;
  text-align: center;
}

.footer_menu {
  margin-bottom: 5px;
}

.footer_menu a{
  color: #888;
  text-decoration: underline;
}

.footer_menu span {
  margin-left: 7px;
  margin-right: 7px;
}

.analysis span {
  color: #de2600;
  font-weight: 700;
  text-transform: uppercase;
}

.analysis {
  margin-top: 15px;
} 
