.LandingPage {
  height: 100%;
  background: #242424;
}

.LandingPage .nav_container {
  margin: 0 auto;
  max-width: 1750px;
  padding: 0 15px;
  position: relative;
}

.LandingPage .navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: center;
  position: relative;
}

.LandingPage .main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0;
  position: relative;
}

.LandingPage .search {
  max-width: 800px;
  opacity: 0.9;
  width: 80%;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.LandingPage .input-form {
  max-width: 600px !important;
}
